# 3 Виконання

## 3.1 Обрати та завантажити дані

### Імпортуємо бібліотеки, визначимо налаштування для pandas, завантажимо датафрейм

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.display.max_colwidth = 60
pd.options.display.max_rows = 7
pd.options.display.max_columns = 7
pd.options.display.width = 600

path_criminal_statistic = 'data/90-2002_.xlsx' 
df = pd.read_excel(path_criminal_statistic)
df.columns = [
    'year', 'crimes', 'accused', 'adm', 'civils', 'fires']
df = df.set_index('year')
obj_cols = df.select_dtypes(['object'])
df[obj_cols.columns] = obj_cols.apply(lambda x: x.str.replace(' ', ''))
df = df.astype(str).apply(
    lambda x: x.str.replace(',', '.')).astype(float)
df

         crimes   accused      adm  civils     fires
year
1990   369809.0  104199.0  6515.90  379.20       NaN
1991   405516.0  108553.0  7841.50  358.50       NaN
1992   480478.0  115260.0  9723.90  364.00       NaN
...         ...       ...      ...     ...       ...
2015  5651827.0  947986.0  1984.66  947.26  820166.0
2016  5926047.0  762176.0  2183.66  751.26  753236.0
2017  5239117.0  768046.0  2885.36  729.96  857246.0

[28 rows x 5 columns]

*Завантажений датафрейм*